<app-differential-equations></app-differential-equations>
<h2> Config </h2>

<form [formGroup]="configForm" name="form" #f="ngForm">
  <h3> Fill in chemical speed constants </h3>

  <div formArrayName="speedConstants">
    <div *ngFor="let item of speedConstants.controls; let i=index">
      <h4 [innerHTML]="this.htmlConstants[i]"> </h4>

      <div [formGroupName]="i">
        <label>min</label> <input type="number" style="width: 5em" formControlName="min">
        <label> max</label> <input type="number" style="width: 5em" formControlName="max">
        <label> step</label> <input type="number" style="width: 5em" formControlName="step">
      </div>
    </div>
  </div>
  <br>
  <h3> Fill in initial concentrations for each reagent </h3>
  <div formGroupName="calculationConfig">
    <div formArrayName="initialConcentrations">
      <div *ngFor="let item of initialConcentrations.controls; let i=index">
        <div [formGroupName]="i">
          <label>{{this.reagents[i]}}</label> <input style="width: 5em" type="number" formControlName="{{this.reagents[i]}}">
        </div>
      </div>
    </div>
    <br>
    <h3> Fill in time interval data </h3>
    <div formGroupName="timeInterval">
        <label>start </label> <input style="width: 5em" type="number" formControlName="start">
        <label> finish </label> <input style="width: 5em" type="number" formControlName="finish">
      </div>
    <label> parts to divide </label> <input style="width: 5em" type="number" formControlName="partsToDivide">
  </div>
  
  <div>
    <h3> Fill in experimanal data </h3>
    <label>experimental data: </label>
    <textarea type="text" style="height:200px; width:800px" formControlName="experimantalData">
      </textarea>
  </div>

  <button type="submit" class="btn btn-success" (click)="f.form.valid && onSubmit()">
    To experimentalData</button>

  {{ this.configForm.value | json }}

</form>