<div class="container">
  <h1>Equations Form</h1>
  <form [formGroup]="equationsForm" name="form" #f="ngForm">
    <label> type equations here: </label>

    <div formArrayName="equations">
      <div *ngFor="let item of equationsGetter.controls; let pointIndex=index" [formGroupName]="pointIndex">
        <label> Equation: <input formControlName="equation" type="text" required /> </label>
        <button type="button" (click)="deleteEquation(pointIndex)">Delete Equation</button>
      </div>

      <button type="button" (click)="addEquation()">Add Equation</button>
      
      <div *ngIf="equationCtrl.invalid && (equationCtrl.dirty || equationCtrl.touched)">
          Enter equation following pattern
        </div>
    </div>

    <button type="submit" id="getDifEq" value="getDifEq" class="btn btn-success"
      (click)="f.form.valid && getDifferentialEquations()">Go to config & constants</button>

  </form>
  {{ this.equationsForm.value | json }}
  a+b=c
</div>